.slide{
    background-color: #fceae8;
}
.ctg img{
    width: 100px;
}
.buy-now-btn{
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    background-image: linear-gradient(to bottom, #FF589B 0%, #ff4b92 100%);
}
.subscribes{
    height: 300px; 
    background-color: #fceae8;
}